<div class="contaiter-fluid mt-3 p-3 text-center">
  <div class="tarjeta">
    <h1 class="text-center">Macarena Rodriguez</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 text-center">
        <img
          class="rounded w-50 m-3"
          src="../../../assets/perfil2.png"
          alt="Perfil"
        />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <div class="m-3">
          <h5>
            Soy una persona predispuesta al trabajo en equipo colaborativo con
            el fin de alcanzar la meta propuesta, autodidacta que busca el
            constante aprendizaje tanto de hardskills como softskills. Me gusta
            afrontar proyectos que me saquen de mi zona de confort ya que
            considero que es la mejor manera de aprender.
          </h5>
          <a
            href="https://www.linkedin.com/in/macarenabelenrodriguez/"
            target="_blank"
            class="nav-link text-start"
            ><h5>
              <i class="bi bi-linkedin text-primary"></i> Click Linkedin
            </h5></a
          >
          <a
            href="https://portfoliomacarenarodriguez.netlify.app/"
            target="_blank"
            class="nav-link text-start"
          >
            <h5>
              <i class="bi bi-browser-chrome text-secondary"></i> Click
              portfolio
            </h5>
          </a>
        </div>
        <div class="row">
          <h4 class="text-start ms-3">Proyectos desarrollados con angular</h4>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a
              href="https://github.com/MacarenaRodriguez1993/A_la_carta_rest"
              target="_blank"
              class="nav-link text-start ms-3"
              ><h5><i class="bi bi-github"></i> A la carta</h5></a
            >
            <a
              href="https://github.com/MacarenaRodriguez1993/portfolio_ArgentinaPrograma/tree/master/Front_end"
              target="_blank"
              class="nav-link text-start ms-3"
              ><h5><i class="bi bi-github"></i> Porfolio con angular</h5></a
            >
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a
              href="https://github.com/MacarenaRodriguez1993/ONG_ALKEMY"
              target="_blank"
              class="nav-link text-start ms-3"
              ><h5><i class="bi bi-github"></i> ONG alkemy</h5></a
            >
            <a
              href="https://github.com/MacarenaRodriguez1993/pokedex"
              target="_blank"
              class="nav-link text-start ms-3"
              ><h5><i class="bi bi-github"></i> Pokedex</h5></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
